<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Mensaje</title>
</head>
<body>
	<h1>Empleos App</h1>
	<h1 th:text="${msg}"></h1>
	<h1 th:text="'Bienvenidos: '+${msg}"></h1>
	<h1 th:text="'Inicio de la aplicacion: '+${fecha}"></h1>
	
	<h3 th:text="'Fecha : ' + ${#calendars.format(fecha,'dd-MM-yyyy')}"></h3>
</body>
</html>