<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Vacantes</title>
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
	<h2><img th:src="@{/images/kisspng-final-fantasy-vii-remake-final-fantasy-iv-cloud-st-meteor-5abe52d84f0b36.3869597115224224883238.jpg}" width="80" height="80" &nbsp;&nbsp;>Listado de vacantes</h2>
	
	<table class="table table-dark table-striped table-hover table-borderer ">
  <tr>
  	<th>Logo</th>
    <th>Id</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Fecha</th>
    <th>Salario</th>
    <th>Destacado</th>
    <th>Detalle</th>
    <th>Eliminar</th>
  </tr>
  <tr th:each="vacante : ${vacantes}">
  	<td><image th:src="@{/images/{img}(img=${vacante.imagen})}"
  						width="50" height="50"></td>
    <td th:text="${vacante.id}"></td>
    <td th:text="${vacante.nombre}"></td>
    <td th:text="${vacante.descripcion}"></td>
    <td th:text="${vacante.fecha}"></td>
    <td th:text="${vacante.salario}"></td>
    <!--  <td th:text="${vacante.destacado}"></td>-->
    <!--  <td th:text="${vacante.destacado == 1}? 'SI' : 'NO'"></td>-->
    <td>
    	<span class="badge bg-primary" th:if="${vacante.destacado == 1}"> SI </span>
		<span class="badge bg-danger" th:unless="${vacante.destacado == 1}"> NO </span>
    </td>
    <td>
    <a th:href="@{/vacantes/detalle/{id}(id=${vacante.id})}" class="btn btn-primary">Detalle</a>
    </td>
    <td>
    <a th:href="@{/vacantes/eliminar(id=${vacante.id})}" class="btn btn-danger">Eliminar</a>
    </td>
  </tr>
  
</table>
<script th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>
</body>
</html>