<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Vacantes</title>
</head>
<body>
	<h2>Detalles de la vacante</h2>
	<span th:text="'id_vacante: ' + ${id}" ></span><br>
	<span th:text="'Nombre vacante: ' + ${nombre}"></span><br>
	<span th:text="'Fecha publicacion:' + ${fecha}"></span><br>
	<span th:text="'Salario aproximado: ' + ${salario}"></span><br>
	<span th:text="'vigente : ' + ${vigente}"></span>
	<ol>
		<li th:each="elemento: ${vacantes}" th:text="${elemento}"></li>
	
		</ol>
		<table border=1>
		<thead>
		<tr><td>Nombre vacante</td></tr>
		</thead>
		<tbody>
		<tr th:each="elemento: ${vacantes}">
		<td th:text="${elemento}"></td>
		</tr>
		</tbody>
		</table>
</body>
</html>