<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Listado de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
     <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body >
    <header th:insert="fragmentos/menu.html :: menu-pagina">
     
    </header>

    <main role="main">     
      <hr style="border:0px">
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Ofertas de Trabajo</strong></h4>              
          <div class="card-body">
            <a class="btn btn-secondary text-white" 
            th:href="@{/vacantes/crear}" title="Crear nueva Oferta de Trabajo" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
            
              <thead class="thead-dark">
                <tr>
                <th scope="col">Logo</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Nombre</th>                  
                  <th scope="col">Fecha Pub.</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Destacada</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="vacante :${vacante}">
                <td><img th:src="@{/logos/{img}(img=${vacante.imagen})}"
                width="30" height="30">
                	<td th:text="${vacante.categoria.nombre}"></td>
					<td th:text="${vacante.nombre}"></td>
					<td th:text="${vacante.salario}"></td>                  
					<td th:text="${vacante.estatus}"></td>
					<td>
						<span class="badge bg-primary" th:if="${vacante.destacado == 1}"> Si </span>
						<span class="badge bg-danger" th:unless="${vacante.destacado == 1}"> No </span>
					</td>
					<td>
						<a th:href="@{/vacantes/editar(id=${vacante.id})}" class="btn btn-secondary btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
						<a th:href="@{/vacantes/eliminar(id=${vacante.id})}" 
						onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
					</td>
                </tr>              
              </tbody>
            </table>
           
             <nav th:if="${vacante .totalPages > 0}" aria-label="Page navigation example" >
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${vacante.number == 0 ? 'disabled' : ''}">
                <a th:href="@{/vacantes/indexPaginate(page=${vacante.number - 1})}" class="page-link">Anterior</a>
            </li>
                       
            <li class="page-item" th:classappend="${i eq vacante.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, vacante.totalPages, 1)}">
                <a class="page-link" th:href="@{/vacantes/indexPaginate?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${vacante.number == (vacante.totalPages - 1) ? 'disabled' : ''}">
                <a th:href="@{/vacantes/indexPaginate(page=${vacante.number + 1})}" class="page-link">Siguiente</a>
            </li>
        </ul>
    </nav>
    
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragmentos/pie.html :: pie-pagina" class="footer">
     
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>       
  </body>
</html>