 <nav th:fragment="menu-pagina" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><img th:src="@{/images/kisspng-final-fantasy-vii-remake-final-fantasy-iv-cloud-st-meteor-5abe52d84f0b36.3869597115224224883238.jpg}" width="35" height="35" &nbsp;&nbsp;>EmpleosApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
              <a class="nav-link" th:href="@{/vacantes/indexPaginate}">Vacantes</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
              <a class="nav-link" th:href="@{/categorias/indexPaginate}">Categorias</a>
            </li> 
            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
              <a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
            </li>          
          </ul>  
          <a class="btn bg-light text-dark" href="#">Ingresar</a>&nbsp;
          <a class="btn bg-light text-dark" href="#">Registrarse</a>&nbsp;
          <a class="btn bg-light text-dark" th:href="@{/logout}">Salir</a>
        </div>
      </nav>