 <!doctype html>
<html ang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Listado de Categorías</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body >

    <header th:insert="fragmentos/menu.html :: menu-pagina">
     
    </header>

    <main role="main">     
      <hr style="border:0px">
      <div class="container"> 
        <div class="card">
          <h4 class="card-header"><strong>Listado de Categorías</strong></h4>              
          <div class="card-body table-responsive">
            <a class="btn btn-secondary text-white" th:href="@{/categorias/crear}" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr style="border:0px">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="categoria : ${categorias}">
                  <th scope="row" th:text="${categoria.id}"></th>
                  <td th:text="${categoria.nombre}"></td>
                  <td th:text="${categoria.descripcion}"></td>
                  <td>
                    <a th:href="@{/categorias/editar(id=${categoria.id})}" class="btn btn-secondary btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/categorias/eliminar(id=${categoria.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>              
              </tbody>
            </table>
            
             <nav th:if="${categorias.totalPages > 0}" aria-label="Page navigation example" >
              <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${categorias.number == 0 ? 'disabled' : ''}">
                <a th:href="@{/categorias/indexPaginate(page=${categorias.number - 1})}" class="page-link">Anterior</a>
            </li>
                       
            <li class="page-item" th:classappend="${i eq categorias.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, categorias.totalPages, 1)}">
                <a class="page-link" th:href="@{/categorias/indexPaginate?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${categorias.number == (categorias.totalPages - 1) ? 'disabled' : ''}">
                <a th:href="@{/categorias/indexPaginate(page=${categorias.number + 1})}" class="page-link">Siguiente</a>
            </li>
        </ul>
    </nav>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragmentos/pie.html :: pie-pagina" class="footer">
     
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
  </body>
</html>